$rgba-primary-0: rgba(51, 68, 114, 1);	/* Main Primary color */
$rgba-primary-1: rgba(22, 29, 48, 1);
$rgba-primary-2: rgba(37, 48, 80, 1);
$rgba-primary-3: rgba(63, 86, 147, 1);
$rgba-primary-4: rgba(76, 105, 184, 1);

// same colors as hex
// .color-primary-0 { color: #334472 }	/* Main Primary color */
// .color-primary-1 { color: #161D30 }
// .color-primary-2 { color: #253050 }
// .color-primary-3 { color: #3F5693 }
// .color-primary-4 { color: #4C69B8 }
