$rgba-primary-0: rgba(51, 68, 114, 1);	/* Main Primary color */
$rgba-primary-1: rgba(22, 29, 48, 1);
$rgba-primary-2: rgba(37, 48, 80, 1);
$rgba-primary-3: rgba(63, 86, 147, 1);
$rgba-primary-4: rgba(76, 105, 184, 1);
