@import '~bootstrap/scss/bootstrap';
@import 'colors';

body {
  // background-color: $rgba-primary-0;
  color: $rgba-primary-0 * 0.4;
}

.sign-up-btn,
.access-btn {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
}

.carousel {
  padding: 20px;
  width: auto;

  .carousel-caption {
    background-color: $rgba-primary-0 * 0.9;
  }

  .carousel-indicators {
    li {
      background-color: #0f0;
    }
  }
}

.recent-releases,
.upcoming-releases {
  border: 2px solid $rgba-primary-0 * 0.9;
  height: 500px;
  width: auto;

  h4 {
    text-align: center;
  }
}

.shown-game {
  background-color: $rgba-primary-0 * 0.9;
  margin: 50px auto 80px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.welcome-message {
  margin: auto;
  width: 500px;
}

// elements hidden on load
.log-out-screen,
.navbar {
  display: none;
}
