@import '~bootstrap/scss/bootstrap';
@import 'colors';

body {
  // background-color: $rgba-primary-0;
  color: $rgba-primary-0 * 0.4;
}

.carousel {
  padding: 20px 100px;
  width: auto;

  .carousel-caption {
    background-color: $rgba-primary-0 * 0.9;
  }

  .carousel-indicators {
    li {
      background-color: #0f0;
    }
  }
}

.shown-game {
  background-color: $rgba-primary-0 * 0.9;
  margin: 50px auto 80px auto;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.welcome-message {
  margin: auto;
  width: 500px;
}

// .create-button,
// #search-button,
// .show-all-video-games,
// #options-button {
//   visibility: hidden;
// }
